#logoimg {display: block; /*to make the image-rendering centerlise*/
width: 15%;
margin: auto;
padding: 4%;}


body {font-family: Ubuntu,helvetica, sans-serif;
		font-size: 14pt;
		line-height: 19pt;
		margin: 0;
	}

.icon {width: 5%;
margin: 15px;}	

.b{font-weight: 700;}

h1{font-family: ubuntu,helvetica, sans-serif;
font-weight: bold;
font-size: 1.7em;
color: lightgrey;
text-align: center; /* make test align center*/
display: block;
background-color: black;
padding: 15px 15px;
letter-spacing: 1px;
width: 100%;
margin: auto; /*make text box center*/}

img {pointer-events: none;} /* prevent user to save image */

footer{
	margin-left: auto;
	Margin-right: auto;
	text-align:  center;
	font-size:  11px;
}


/* testimonial*/



h2{font-family: Lora-Bold,times New Roman, serif;
	font-size: 15px;
font-weight: bolder;}

.rev{
	font-family: lora,times New Roman, serif;
	font-size: 15px;
}

.peop {width: 40px;}

#containerrev{Display: block;
	padding:  15px 15px;
	width: 60%;
margin: auto;}

#star{display: block;
	width: 8%;}

section{padding: 10px 40px;
border: 1px solid #c0c0c0;
border-width: thin;
margin: 5px;
}

/*contact us*/

*html, body{
	margin: 0;
	padding: 0;
	overflow-x: :hidden;
}

#callus{display: block;
padding: 15px 15px;
width: 100%;
background-color: black;
margin: auto;}

.con{font-family: ubuntu, helvetica, sans-serif;
text-align: center;
color: #B1C1C1;
letter-spacing: 1px;}

.sm{
	font-size: 13px;
}


  /* Needed to position the navbar */






#container {
	display: block;
	width: 800px;
	padding: 10px 10px;
	margin: auto;
}

span.boldp {
	font-weight: bolder;
}

figure {display: block;
text-align: center;
padding-top: 10px;
padding-bottom: :10px;
margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0x;
    margin-inline-end: 0;}

figcaption {
	font-family:Ubuntu-light,heveltica, sans-serif ;
	font-size: 13pt;
color: #06999B;
line-height: 11px;
padding-bottom: 18px;}


#changer {width: 45%;
}



.left {display: block;
margin: auto;
width: 400px;}

/* link*/
a{font-weight:700;
	color: #B1C1C1;}
a:link{color: #B1C1C1;
text-decoration: none;}

a:visited{}

a:hover{
	color: yellow;
}
a:active{color: orange}


/********** Large devices only **********/

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {


	#logoimg {display: block; /*to make the image-rendering centerlise*/
width: 23%;
margin: auto;
padding: 4%;}

	.icon {width: 11%;}

	#changer {width: 70%;
}


.left {display: block;
margin: auto;
width: 30%;}
}

.back{padding-top: 40px;
	padding-bottom: 40px;
}
  
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	#container {
	width: 90%;
	padding: 8px 8px;
		margin: 30px;
}

		#logoimg {display: block; /*to make the image-rendering centerlise*/
width: 35%;
margin: auto;
padding: 4%;}

	.icon {width: 11%;}




.left {display: block;
margin: auto;
width: 40%;}



}




/********** Extra small devices only **********/
@media (max-width: 767px) {
		#container {
	width: 85%;
	padding: 8px 8px;
		margin: 15px;
}

		#logoimg {display: block; /*to make the image-rendering centerlise*/
width: 45%;
margin: auto;
padding: 13%;}

body {
		font-size: 13pt;
		line-height: 19pt;
	}

	.icon {width: 15%;
		margin: 8px;
	}

	#changer {width: 100%;
}

figure{padding-top: 10px;
	padding-bottom: 10px;
	margin: auto;}

figcaption {
	font-family:Ubuntu-light,helveltica, sans-serif ;
	font-size: 12.5pt;
color: #06999B;}

.left {display: block;
margin: auto;
width: 350px;
}

#containerrev{Display: block;
	padding:  15px 15px;
	width: 85%;
margin: auto;}



#star{display: block;
	width: 5em}


}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
			#container {
	width: 89%;
		padding: 8px 8px;
		margin: 20px;
}

#containerrev{Display: block;
	padding:  15px 15px;
	width: 85%;
margin: auto;}

		#logoimg {display: block; /*to make the image-rendering centerlise*/
width: 50%;
margin: auto;
padding: 10%;}

	.icon {width: 22%;
		margin: 5px;
	}

	#changer {width: 100%;
}

figure{padding-top: 10px;
	padding-bottom: 10px;
	margin: auto;}

.left {display: block;
margin: auto;
width: 350px;}


}
